.card {
  margin-top: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.info-box {
  padding: 20px;
  border-radius: 10px;
}
.info-box img {
  border-radius: 10px;
}
.logo-box {
  background-color: #e1e1e1;
  padding: 10px 20px;
  font-weight: bold;
}