body {
  background-color: #f8f9fa;
}

#reportForm {
  background: #fff;
}

.form-control {
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #09906F;
}

.btn-main {
  background: linear-gradient(135deg, #09906F, #0aa380);
  color: #fff !important;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.btn-main:hover {
  background: linear-gradient(135deg, #077d60, #09906F);
  transform: translateY(-2px);
}

@media (max-width: 576px) {
  #reportForm {
    width: 100% !important;
  }
}