main{
  background: linear-gradient(90deg, #00000069, #00000056), url('../image/hero-bg.webp') no-repeat center center/cover;
  height: 100vh;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.hero-title {
  font-size: 3rem;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.hero-title .brand {
  color: var(--primary-color);
  font-weight: inherit;
}

.hero-content {
  max-width: 600px;
}

.hero-content p {
  color: #e6e6e6;
  font-size: 1.25rem;
}

@media (max-width: 576px) {

  /* العنوان */
  .hero-title {
    font-size: 1.8rem;
    text-align: center;
  }

  /* النصوص */
  .hero-content {
    max-width: 100% !important;
    text-align: center;
    padding: 0 10px;
  }

  .hero-content p {
    font-size: 0.9rem !important;
  }

  /* الأزرار */
  .btn-success {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 8px 16px;
  }

  .btn-outline-light {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 6px 12px !important;
  }
}