main{
  background: linear-gradient(90deg, #00000069, #00000056), url('../image/hero-bg.webp') no-repeat center center/cover;
  height: 100vh;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.hero-title .brand {
  color: var(--primary-color);
  font-weight: bold;
}

.hero-content {
  max-width: 600px;
}

.hero-content p {
  color: #e6e6e6;
}